export(datashield.aggregate)
export(datashield.assign)
export(datashield.methods)
export(datashield.newSession)
export(datashield.rm)
export(datashield.setSession)
export(datashield.symbols)
export(opal.assign)
export(opal.datasource)
export(opal.datasources)
export(opal.execute)
export(opal.getSessions)
export(opal.login)
export(opal.logout)
export(opal.newSession)
export(opal.rm)
export(opal.rmSession)
export(opal.rmSessions)
export(opal.setSession)
export(opal.symbols)
export(opal.table)
export(opal.tables)
export(opal.variable)
export(opal.variables)
S3method(datashield.aggregate,list)
S3method(datashield.aggregate,opal)
S3method(datashield.assign,list)
S3method(datashield.assign,opal)
S3method(datashield.methods,list)
S3method(datashield.methods,opal)
S3method(datashield.newSession,list)
S3method(datashield.newSession,opal)
S3method(datashield.rm,list)
S3method(datashield.rm,opal)
S3method(datashield.setSession,list)
S3method(datashield.setSession,opal)
S3method(datashield.symbols,list)
S3method(datashield.symbols,opal)
